

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  line-height: 1.5
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  margin: 10px auto;
}


/* Container */
.container-fluid {
  padding: 7% 15% ;
}

/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;

}

/* Title */

#title .container-fluid{
  padding:3% 15% 7%;
  text-align: left;

}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
}

.nav-item {
  padding: 5px 18px;
  font-size: 1.2rem;
}

/* Title image */
.iphone6 {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
}

.download-botton {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.subtitle {
  padding: 8em 5px 5em;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

.explanation {
  width: 52%;
  margin: 5px auto;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;

}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}


.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}



/* Footer section */
.contact {
  margin: 20px 20px;
  font-size: 20px;
}




@media (max-width:990px) {
  #title {
    text-align: center;
  }

  .iphone6 {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
